In [192]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [201]:
data = pd.read_csv('movie_bd_v5.csv')

In [179]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [194]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # код получения столбца profit

#Здорово, что вынесли словарь в предобработку, но желательно также добавить туда новые столбцы
#и оформить часть кода в функции (и тоже включить их предобработку, это делает код менее объёмным
#и даёт возможность его дальнейшего переиспользования).

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [206]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [49]:
#найду фильм с самым высоким бюджетом
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [207]:
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [48]:
#найду самый длительный фильм
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [51]:
#вариант 2
print(data.original_title[data.runtime.idxmax()])

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [208]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+

In [50]:
#найду самый короткий фильм
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [7]:
#вариант 2
print(data.original_title[data.runtime.idxmin()])

Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [209]:
answers['4'] = 110 #+

In [52]:
#найду среднюю длительность фильмов
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [210]:
answers['5'] = 107 #+

In [31]:
#найду медианное значение длительности фильмов
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [211]:
answers['6'] = '239. Avatar (tt0499549)' #+

In [55]:
#найду самый прибыльный фильм
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [57]:
#вариант 2
data.original_title[data.profit.idxmax()]

'Avatar'

# 7. Какой фильм самый убыточный?

In [212]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+

In [58]:
#найду самый уботочный фильм
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [59]:
#вариант 2
data.original_title[data.profit.idxmin()]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [213]:
answers['8'] = 1478 #+

In [62]:
#задам условие и посчитаю количество совпадений
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [214]:
answers['9'] = '599. The Dark Knight (tt0468569)' #+

In [66]:
#найду фильмы 2008 года выпуска
df_2008 = data[data.release_year == 2008]

#найду самый кассовый фильм 2008 года
top_rev = df_2008[df_2008.revenue == df_2008.revenue.max()]

top_rev.original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [215]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #+

In [160]:
#найду фильмы 2012-2014 года выпуска
df_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]

#найду самый убыточный фильм из фрейма
low_rev = df_12_14[df_12_14.profit == df_12_14.profit.min()]

low_rev.original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [216]:
answers['11'] = 'Drama' #+

In [163]:
import collections
#соединю все значения в столбце 'genres' по разделетелю '|'
#разделю на список жанров по такому же разделителю
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

In [157]:
#функция счетчика жанров
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict

#словарь для подсчета жанров вхождений
genres_dict = {}

#вызов функции, которая заполняет genres_dict
data['genres'].apply(genres_count)

#сортировка значений более удобна в pd.Series
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
genres_series.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [217]:
answers['12'] = 'Drama' #+

In [139]:
#найду фильмы, у которых profit > 0
df_prof = data[data.profit > 0]

#соединю все значения в столбце 'genres' по разделетелю '|',
#разделю на список жанров по такому же разделителю
collections.Counter(df_prof['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [218]:
answers['13'] = 'Peter Jackson' #+

In [164]:
#запишу весь датафрейм data в data_director
data_director = data

# запишу в столбец режиссёров значение режиссёров с разделителем '|'
data_director['director'] = data['director'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку, реплицируя значения индекса
data_director = data_director.explode('director')

#сгруппирую значения сумм revenue для каждого режисёра, отсортирую и выведу первое
data_director.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [219]:
answers['14'] = 'Robert Rodriguez' #+

In [168]:
#найду фильмы, у которых в жанре содержится 'Action'
df = data[data.genres.str.contains('Action')]

#посчитаю сколько фильмов снял каждый реж из df
#соединю все значения столбца режей в одну строку по разделетелю '|',
#разделить на список режиссеров по такому же разделителю
collections.Counter(df['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [220]:
answers['15'] = 'Chris Hemsworth' #+

In [170]:
#найду фильмы, снятые в 2012 году
df_2012 = data[data.release_year == 2012]

#запишу весь df_2012 в data_cast
data_cast = df_2012[:]

#запишу в столбец cast значение с разделителем '|'
data_cast['cast'] = df_2012['cast'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждого актёра
data_cast = data_cast.explode('cast')

#найду сумму в столбце revenue для каждого актёра, отсортирую по убыванию
grouped_df = data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

#выведу искомое значение
grouped_df.keys()[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [221]:
answers['16'] = 'Matt Damon' #+

In [171]:
#найду фильмы с бюджетом выше среднего
data_top = data[data.budget > data.budget.mean()]

#запишу data_top в data_cast
data_cast = data_top[:]

#запишу в столбец cast с разделителем '|'
data_cast['cast'] = data_top['cast'].apply(lambda x:x.split('|'))

#запишу серию из значений 'cast', найду, сколько раз повторяется каждый актёр, оставлю первый index
pd.Series(data_cast['cast'].sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [222]:
answers['17'] = 'Action' #+

In [173]:
#найду фильмы, в которых снимался Nicolas Cage
data_cage = data[data.cast.str.contains('Nicolas Cage')]

#запишу data_cage в data_genres
data_genres = data_cage[:]

#запишу в столбец жанров значения с разделителем '|'
data_genres['genres'] = data_cage['genres'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждого жанра
data_genres = data_genres.explode('genres')

#посчитаю, сколько раз встречается каждый жанр
data_genres['genres'].value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [223]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' #+

In [181]:
#найду фильмы при участии Paramount
Paramount = data[data.production_companies.str.contains('Paramount Pictures')]

#найду самый убыточный фильм от Paramount
Paramount[Paramount.profit == Paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [224]:
answers['19'] = 2015 #+

In [182]:
#сгруппирую значения сумм revenue для каждого года, отсортирую и выведу первое
data.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [225]:
answers['20'] = 2014 #+

In [183]:
#найду фильмы при участии Warner Bros
Warner_Bros = data[data.production_companies.str.contains('Warner Bros')]

#сгруппирую значения сумм revenue для каждого года, отсортирую и выведу первое
Warner_Bros.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [226]:
answers['21'] = 9 #+

In [184]:
data_month = data[:]

#запишу в столбец release_date с разделителем '/'
data_month['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_month['release_month'] = data_month['release_date'].apply(lambda x:x[0])

#посчитаю, сколько раз встречается каждый месяц
data_month['release_month'].value_counts().index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [227]:
answers['22'] = 450 #+

In [189]:
data_summer = data[:]

#запишу в столбец release_date с разделителем '/'
data_summer['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_summer['release_month'] = data_summer['release_date'].apply(lambda x:x[0])

#посчитаю, сколько раз встречается каждый месяц
answer = data_summer['release_month'].value_counts()

#найду сумму релизов для летних месяцев
print(answer["6"]+answer["7"]+answer["8"])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [228]:
answers['23'] = 'Peter Jackson'

In [198]:
data_winter = data[:]

#запишу в столбец release_date с разделителем '/'
data_winter['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_winter['release_month'] = data_winter['release_date'].apply(lambda x:x[0])

#создам фрейм с зимними релизами
df = data_winter[(data_winter.release_month == "1")
                 | (data_winter.release_month == "2")
                 | (data_winter.release_month == "12")]

import collections
#посчитаю сколько фильмов снял каждый реж из df. для этого
#соединю все значения столбца режей в одну строку по разделетелю '|',
#разделю на список режиссеров по такому же разделителю
collections.Counter(df['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [229]:
answers['24'] = 'Four By Two Productions'

In [199]:
#найду длину названия для каждого фильма
#при ручном подсчёте заметил, что считает на еденицу больше, поэтому отнимаю единицу
data['title_length'] = data['original_title'].str.count("")-1

data_pd = data[:]

#запишу в столбец production_companies значение с разделителем '|'
data_pd['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждой компании
data_pd = data_pd.explode('production_companies')

#найду среднюю длину названий фильмов для каждой студии
data_pd.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [230]:
answers['25'] = 'Midnight Picture Show'

In [202]:
#найду длину overview для каждого фильма
data['overview_length'] = data['overview'].str.count("")

data_pd = data[:]

#запишу в столбец production_companies значение с разделителем '|'
data_pd['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждой компании
data_pd = data_pd.explode('production_companies')

#найду среднюю длину overview фильмов для каждой студии
data_pd.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1001.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [231]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave '

In [203]:
#найду значения рейтинга в границах 1-го процента максимальных оценок.
borders = data.vote_average.value_counts(normalize=True).sort_index(ascending = False).head(3)
borders

8.1    0.000529
8.0    0.002118
7.9    0.004764
Name: vote_average, dtype: float64

In [204]:
#найду фильмы, рейтинг  которых соответствует borders
data[(data.vote_average == 8.1)
     | (data.vote_average == 8.0)
     | (data.vote_average == 7.9)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [ ]:
#В 26-м задании для решения также подойдет метод quantile:

#data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [235]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [205]:
#не успел допилить код, но ответ очевиден

data_couple = data
data_couple['cast'] = data['cast'].apply(lambda x:x.split('|'))
#data_couple

a = list(combinations(data_couple.cast, 2))

#найду все встречающиеся пары:
t = np.concatenate([np.sort(data_couple.loc[:, c], axis=1).sum(1) for c in a])

#воспользуюсь collections.Counter:
from collections import Counter
couple = Counter(t).most_common(1)

KeyError: "None of [Index([('Chris Pratt', 'Bryce Dallas Howard', 'Irrfan Khan', 'Vincent D'Onofrio', 'Nick Robinson'), ('Tom Hardy', 'Charlize Theron', 'Hugh Keays-Byrne', 'Nicholas Hoult', 'Josh Helman')], dtype='object')] are in the [columns]"

In [ ]:
#В 27-м можно использовать combinations (из библиотеки itertools).
#Однако обратите внимание: значение ключа (Rupert Grint, Emma Watson) - 7,
#но ещё в словаре может быть ключ (Emma Watson, Rupert Grint) со значением 1 - это тоже
#нужно учитывать, тогда итоговый ответ для этой пары актёров будет 8

# Submission

In [236]:
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [234]:
len(answers)

27