In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014
534,tt0218817,30000000,17833000,AntiTrust,Ryan Phillippe|Rachael Leigh Cook|Tim Robbins|...,Peter Howitt,Truth can be dangerous...Trust can be deadly.,A computer programmer's dream job at a hot Por...,108,Action|Crime|Drama,Industry Entertainment|Epsilon Motion Pictures...,1/12/2001,5.6,2001
371,tt1228705,200000000,623933331,Iron Man 2,Robert Downey Jr.|Gwyneth Paltrow|Don Cheadle|...,Jon Favreau,"It's not the armor that makes the hero, but th...",With the world now aware of his dual life as t...,124,Adventure|Action|Science Fiction,Marvel Studios,4/28/2010,6.6,2010
87,tt1781922,5000000,54418872,No Escape,Owen Wilson|Lake Bell|Pierce Brosnan|Sterling ...,John Erick Dowdle,No rescue. No refuge.,"In their new overseas home, an American family...",103,Action|Thriller,Bold Films|Living Films|Brothers Dowdle Produc...,8/26/2015,6.7,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # код получения столбца profit

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [23]:
# тут пишем ваш код для решения данного вопроса:
a = data[data.budget == data.budget.max()]
a

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [27]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [28]:
c = data[data.runtime == data.runtime.max()]
c

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = 'Winnie the Pooh'

In [17]:
d = data[data.runtime == data.runtime.min()]
d

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = 110

In [30]:
e = data.runtime.mean()
e

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = 107

In [31]:
f = data.runtime.median()
f

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar'

In [27]:
# лучше код получения столбца profit вынести в Предобработку что в начале
g = data[data.profit == data.profit.max()]
g

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger'

In [28]:
h = data[data.profit == data.profit.min()]
h

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = 1478

In [30]:
i = data[data.revenue > data.budget]
len(i)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight'

In [46]:
j = data[data.release_year == 2008]
k = j[j.revenue == j.revenue.max()]
k

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'The Lone Ranger'

In [7]:
l = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
m = l[l.profit == l.profit.min()]
m

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [0]:
answers['11'] = 'Comedy'

In [13]:
n = data['genres'].value_counts()
n

Comedy                                       141
Drama                                        102
Comedy|Romance                                60
Drama|Romance                                 45
Comedy|Drama|Romance                          35
                                            ...
Adventure|Fantasy|Comedy|Family                1
Adventure|Fantasy|Action|Family                1
Action|Thriller|Science Fiction|Mystery        1
Comedy|Family|Fantasy|Romance                  1
Science Fiction|Thriller|Action|Adventure      1
Name: genres, Length: 652, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Comedy'

In [14]:
o = data[data.profit > 0]['genres'].value_counts()
o

Comedy                                             121
Drama                                               70
Comedy|Romance                                      52
Drama|Romance                                       38
Horror|Thriller                                     31
                                                  ...
Animation|Adventure|Family|Comedy                    1
Action|Science Fiction|Adventure|Mystery             1
Science Fiction|Action|Adventure|Fantasy|Comedy      1
Action|Adventure|Comedy|Family|Science Fiction       1
Science Fiction|Thriller|Action|Adventure            1
Name: genres, Length: 548, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'

In [23]:
p = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
p.index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = ''

In [39]:
r = data.groupby(['director'])[['genres']].nunique()
r

                               genres
director
Aaron Seltzer|Jason Friedberg       1
Adam McKay                          3
Adam Shankman                       7
Adam Wingard                        1
Adrian Lyne                         1
...                               ...
Wong Kar-wai                        1
Woody Allen                         3
Xavier Gens                         1
Zack Snyder                         6
Zal Batmanglij                      1

[957 rows x 1 columns]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)