In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
790,tt1210166,50000000,110206216,Moneyball,Brad Pitt|Jonah Hill|Robin Wright|Philip Seymo...,Bennett Miller,What are you really worth?,The story of Oakland Athletics general manager...,133,Drama,Columbia Pictures|Scott Rudin Productions,9/22/2011,6.9,2011
505,tt0209163,98000000,433013274,The Mummy Returns,Brendan Fraser|Rachel Weisz|John Hannah|Arnold...,Stephen Sommers,The most powerful force on earth is about to b...,"Rick and Evelyn O'Connell, along with their 8 ...",130,Action|Adventure|Drama|Fantasy|Horror,Universal Pictures|Alphaville Films|Imhotep Pr...,4/28/2001,5.8,2001
1869,tt0211181,85000000,183611771,102 Dalmatians,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,Kevin Lima,Meet Two Unlikely Heroes With A Bone To Pick.,Get ready for a howling good time as an all ne...,100,Comedy|Family,Walt Disney Pictures|Cruella Productions,10/7/2000,5.0,2000
1823,tt0181984,26000000,28780255,Boiler Room,Giovanni Ribisi|Vin Diesel|Nia Long|Tom Everet...,Ben Younger,Welcome to the new American dream.,A college dropout gets a job as a broker for a...,118,Crime|Drama|Thriller,New Line Cinema,2/18/2000,6.5,2000
430,tt1155076,40000000,357852395,The Karate Kid,Jaden Smith|Jackie Chan|Taraji P. Henson|Yu Ro...,Harald Zwart,A Challenge He Never Imagined. A Teacher He Ne...,12-year-old Dre Parker could have been the mos...,140,Action|Adventure|Drama|Family,Columbia Pictures|Jerry Weintraub Productions|...,6/10/2010,6.1,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # код получения столбца profit

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [17]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [23]:
# тут пишем ваш код для решения данного вопроса:
a = data[data.budget == data.budget.max()]
a

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [27]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)' #+

In [28]:
c = data[data.runtime == data.runtime.max()]
c

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #+

In [17]:
d = data[data.runtime == data.runtime.min()]
d

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [7]:
print(data.original_title[data.runtime.idxmin()])

Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = 110 #+

In [30]:
e = data.runtime.mean()
e

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = 107 #+

In [31]:
f = data.runtime.median()
f

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
answers['6'] = '239. Avatar (tt0499549)' #+

In [27]:
# лучше код получения столбца profit вынести в Предобработку что в начале
g = data[data.profit == data.profit.max()]
g

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [11]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #+

In [28]:
h = data[data.profit == data.profit.min()]
h

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [10]:
answers['8'] = 1478 #+

In [30]:
i = data[data.revenue > data.budget]
len(i)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [9]:
answers['9'] = '599. The Dark Knight (tt0468569)' #+

In [46]:
j = data[data.release_year == 2008]
k = j[j.revenue == j.revenue.max()]
k

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [8]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #+

In [7]:
l = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
m = l[l.profit == l.profit.min()]
m

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [0]:
answers['11'] = 'Drama'

In [26]:
import collections
data = pd.read_csv('movie_bd_v5.csv')
n = collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)
#соединю все значения в столбце 'genres' по разделетелю '|', разделю на список жанров по такому же разделителю
print(n)

[('Drama', 782)]

In [53]:
# !!!!! если будешь добавлять функцию - выноси ее в предобработку что в начале !!!!!
#додумать или удалить

data = pd.read_csv('movie_bd_v5.csv')

# (12). splitting genres:
data['genres'] = data['genres'].apply(lambda x:x.split('|'))


# (12). Genres counter function:
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict

# dict for counting genres occurrences
genres_dict = {}
# calling for function which fills genres_dict
data['genres'].apply(genres_count)
# sorting of values is more convenient in pd.Series
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
genres_series.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'

In [40]:
import collections

#найду фильмы, у которых profit > 0
o = data[data.profit > 0]

#для подсчёта количества фильмов в жанре соединю все значения в столбце 'genres' по разделетелю '|', разделю на список жанров по такому же разделителю
p = collections.Counter(o['genres'].str.cat(sep = '|').split('|')).most_common(1)

p

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'

In [89]:
data = pd.read_csv('movie_bd_v5.csv')

#запишу весь датафрейм data в data_director
data_director = data[:]

#запишу в столбец реж значение режисёров с разделителем '|'
data_director['director'] = data['director'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку, реплицируя значения индекса.
data_director = data_director.explode('director')

#сгруппирую значения сумм revenue для каждого режисёра, отсортирую и выведу первое
answer = data_director.groupby('director')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]

answer

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'

In [66]:
data = pd.read_csv('movie_bd_v5.csv')
import collections

#найду фильмы, у которых в жанре содержится 'Action'
df = data[data.genres.str.contains('Action')]
#посчитаю сколько фильмов снял каждый реж из df
#соединю все значения столбца режей в одну строку по разделетелю '|', разделить на список режиссеров по такому же разделителю
c = collections.Counter(df['director'].str.cat(sep = '|').split('|')).most_common(1)
c

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'

In [15]:
#суммировать revenue за 2012 год по каждому актеру и выберу максимальное число.

#найду фильмы, снятые в 2012 году
df_2012 = data[data.release_year == 2012]

data_cast = df_2012[:]

#запишу в столбец жанров значение жанров с разделителем '|'
data_cast['cast'] = df_2012['cast'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждого актёра
data_cast = data_cast.explode('cast')

#найду сумму в столбце revenue для каждого актёра, отсортирую по убыванию
grouped_df = data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
grouped_df.keys()[0]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,title_length
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,[Marvel Studios],"[4, 25, 2012]",7.3,2012,12
971,tt1496025,70000000,132400000,Underworld: Awakening,Kate Beckinsale|Stephen Rea|Michael Ealy|Theo ...,MÃ¥ns MÃ¥rlind|BjÃ¶rn Stein,Vengeance Returns,After being held in a coma-like state for fift...,88,Fantasy|Action|Horror,"[Lakeshore Entertainment, Saturn Films, Screen...","[1, 19, 2012]",6.0,2012,21
972,tt1345836,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,"[Legendary Pictures, Warner Bros., DC Entertai...","[7, 16, 2012]",7.5,2012,21
973,tt1853728,100000000,425368238,Django Unchained,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,Quentin Tarantino,"Life, liberty and the pursuit of vengeance.","With the help of a German bounty hunter, a fre...",165,Drama|Western,"[Columbia Pictures, The Weinstein Company]","[12, 25, 2012]",7.7,2012,16
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,[Columbia Pictures],"[10, 25, 2012]",6.8,2012,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,tt1433822,17000000,9627492,The Apparition,Ashley Greene|Sebastian Stan|Tom Felton|Julian...,Todd Lincoln,Once You Believe You Die,Plagued by frightening occurrences in their ho...,82,Horror|Thriller,"[StudioCanal, Dark Castle Entertainment, Warne...","[8, 23, 2012]",4.4,2012,14
1077,tt1480656,20500000,6063556,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|...,David Cronenberg,How far can he go before he goes too far?,Riding across Manhattan in a stretch limo in o...,109,Drama,"[France 2 CinÃ©ma, TÃ©lÃ©film Canada, Rai Cine...","[5, 25, 2012]",4.8,2012,10
1078,tt1855325,65000000,240159255,Resident Evil: Retribution,Milla Jovovich|Sienna Guillory|Michelle Rodrig...,Paul W.S. Anderson,The Ultimate Battle Begins,The Umbrella Corporationâ€™s deadly T-virus co...,95,Action|Horror|Science Fiction,[Davis-Films],"[9, 12, 2012]",5.6,2012,26
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,"[TriStar Pictures, Phoenix Pictures, Stage 6 F...","[8, 17, 2012]",5.9,2012,7
1080,tt2215719,12000000,32726956,Katy Perry: Part of Me,Katy Perry|Russell Brand|Shannon Woodward|Rach...,Dan Cutforth|Jane Lipsitz,Be yourself and you can be anything,Giving fans unprecedented access to the real l...,93,Documentary|Music,"[Paramount Pictures, Imagine Entertainment, MT...","[6, 28, 2012]",6.5,2012,22

In [17]:
#sum[i] = data['revenue'][data['release_year']==2012][data['cast'].map(lambda x: True if i in x else False)].sum()
#Дальше это прогнать в цикле по i по кол-ву фильмов 2012 года и актёрскому составу

In [ ]:
#проба пера)

#найду всех актёров в df_2012
#unique_cast = np.unique(df_2012['cast'].str.cat(sep = '|').split('|'))

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'

In [10]:
#найду фильмы с бюджетом выше среднего
data_top = data[data.budget > data.budget.mean()]

#присвою значение
data_cast = data_top[:]

#запишу в столбец cast  с разделителем '|'
data_cast['cast'] = data_top['cast'].apply(lambda x:x.split('|'))

#запишу серию из значений 'cast', найду, сколько раз повторяется каждый актёр, оставлю первый index
pd.Series(data_cast['cast'].sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action'

In [56]:
data = pd.read_csv('movie_bd_v5.csv')

#найду фильмы, в которых снимался Nicolas Cage
data_cage = data[data.cast.str.contains('Nicolas Cage')]

data_genres = data_cage[:]

#запишу в столбец жанров значение жанров с разделителем '|'
data_genres['genres'] = data_cage['genres'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждого жанра
data_genres = data_genres.explode('genres')

#посчитаю, сколько раз встречается каждый жанр
answer = data_genres['genres'].value_counts().index[0]

answer

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [4]:
#найду фильмы при участии Paramount
Paramount = data[data.production_companies.str.contains('Paramount Pictures')]

h = Paramount[Paramount.profit == Paramount.profit.min()]
h

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = 2015

In [36]:
#сгруппирую значения сумм revenue для каждого года, отсортирую и выведу первое
answer = data.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]
answer

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = 2014

In [39]:
#найду фильмы при участии Warner Bros
Warner_Bros = data[data.production_companies.str.contains('Warner Bros')]

#сгруппирую значения сумм revenue для каждого года, отсортирую и выведу первое
answer = Warner_Bros.groupby('release_year')['revenue'].apply(sum).sort_values(ascending=False).keys()[0]

answer

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = 9

In [48]:
data = pd.read_csv('movie_bd_v5.csv')
data_1 = data[:]

#запишу в столбец release_date с разделителем '/'
data_1['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_1['release_month'] = data_1['release_date'].apply(lambda x:x[0])

#посчитаю, сколько раз встречается каждый месяц
answer = data_1['release_month'].value_counts().index[0]

answer

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = 450

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data_1 = data[:]

#запишу в столбец release_date с разделителем '/'
data_1['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_1['release_month'] = data_1['release_date'].apply(lambda x:x[0])

#посчитаю, сколько раз встречается каждый месяц
answer = data_1['release_month'].value_counts()

#найду сумму релизов для летних месяцев
print(answer["6"]+answer["7"]+answer["8"])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = 'Peter Jackson'

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data_1 = data[:]

#запишу в столбец release_date с разделителем '/'
data_1['release_date'] = data['release_date'].apply(lambda x:x.split('/'))

#создать отдельный столбец, где будет находиться только число месяца
data_1['release_month'] = data_1['release_date'].apply(lambda x:x[0])

#создам фрейм с осенними релизами
df = data_1[(data_1.release_month == "1") | (data_1.release_month == "2") | (data_1.release_month == "12")]

import collections
#посчитаю сколько фильмов снял каждый реж из df. для этого
#соединю все значения столбца режей в одну строку по разделетелю '|', разделю на список режиссеров по такому же разделителю
c = collections.Counter(df['director'].str.cat(sep = '|').split('|')).most_common(1)
c

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = 'Four By Two Productions'

In [33]:
#Нужно найти длину названия для каждого фильма
#при ручном подсчёте заметил, что считает на еденицу больше, поэтому отнимаю единицу
data = pd.read_csv('movie_bd_v5.csv')
data['title_length'] = data['original_title'].str.count("")-1

#иногда фильм выпускают несколько студий. В этом случае длина названия такого фильма дает
#вклад в среднюю длину для всех студий, участвовавших в выпуске фильма.
data_pd = data[:]

#запишу в столбец production_companies значение с разделителем '|'
data_pd['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждой компании
data_pd = data_pd.explode('production_companies')

#найду среднюю длину названий фильмов для каждой студии
data_pd.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = 'Midnight Picture Show'

In [36]:
#Нужно найти длину overview для каждого фильма
data = pd.read_csv('movie_bd_v5.csv')
data['overview_length'] = data['overview'].str.count("")
#data

#иногда фильм выпускают несколько студий. В этом случае длина названия такого фильма дает
#вклад в среднюю длину для всех студий, участвовавших в выпуске фильма.
data_pd = data[:]

#запишу в столбец production_companies значение с разделителем '|'
data_pd['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))

#Преобразую каждый элемент списка в строку для каждой компании
data_pd = data_pd.explode('production_companies')

#найду среднюю длину overview фильмов для каждой студии
data_pd.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1001.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave '

In [61]:
data = pd.read_csv('movie_bd_v5.csv')

data.vote_average.value_counts(normalize=True).sort_index(ascending = False).head(3)

display(data[(data.vote_average == 8.1) | (data.vote_average == 8.0) | (data.vote_average == 7.9)].original_title)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [ ]:
answers['27'] = ''

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)